*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

@media (max-width: 575.98px) {  
    .background{
    display: flex;
    justify-content: center;    
    background-color: #ACDDF1;
    height:90rem;
    width: 100vw;
    position: relative;
    } 

    .page-part {
        position: absolute;
        height: 90%;
        width: 80vw;
        margin: 2.3rem;
        background-color: white;
        border-radius: 2rem;
        box-shadow: 0 0 10px;
    }
    .nav-Get{
        height: 4rem;
        width: 8rem;
        background-color: tomato;
        text-align: center;
        padding: 1rem;
        border-radius: 5rem;
        transition: all 0.3s ease-in;
      
    }
    .nav-Get:hover{
        background-color: black;
    }
    a.nav-get {
        text-decoration: none;
        color: white;
        font-family: sans-serif;
        font-weight: 600;
    }
    a.nav-get:hover{
        color:#FFF;
    }
    .hero-title h1 {
            text-align: center;
            color: #254CAC;
            font-size: 2.4rem;
            padding: 2rem;
            font-family: inherit;
            font-weight: 700;
    }
    .hero-benar h2 {
        text-align: center;
        padding: 0rem 0;
        font-size: 3rem;
        font-family: system-ui;
        font-weight: bold;
        color: #C1D230;
        padding-bottom: 1rem;
    }
    .hero-benar p {
        padding: 2rem;
        font-size: 1.2rem;
        font-family: sans-serif;
        color: #5C79C1;

    }
    .join {
        height: 2.5rem;
        width: 6rem;
        margin: 2rem;
        background-color: tomato;
        text-align: center;
        border-radius: 2rem;
        padding: .4rem;
        transition: all 0.3s ease-in;
        
    }
    .join a {
        text-decoration: none;
        color: white;
        font-family: system-ui;
      
    }
    .join a:hover{
        color: white;
    }
    .join:hover{
        background-color: black;
        color: white;
    }
    .plant-info {
        display: flex;
        justify-content: center;
       
    }
    .plant-info img{
        height: 4rem;
    }
    .hero-image{
        padding-top: 3rem;
    }
}
/* large phone version */
@media (min-width: 576px) and (max-width: 767.98px) {.background{
    display: flex;
    justify-content: center;    
    background-color: #ACDDF1;
    height:90rem;
    width: 100vw;
    position: relative;
    } 

    .page-part {
        position: absolute;
        height: 90%;
        width: 80vw;
        margin: 2.3rem;
        background-color: white;
        border-radius: 2rem;
        box-shadow: 0 0 10px;
    }
    .nav-Get{
        height: 4rem;
        width: 8rem;
        background-color: tomato;
        text-align: center;
        padding: 1rem;
        border-radius: 5rem;
        transition: all 0.3s ease-in;
      
    }
    .nav-Get:hover{
        background-color: black;
    }
    a.nav-get {
        text-decoration: none;
        color: white;
        font-family: sans-serif;
        font-weight: 600;
    }
    a.nav-get:hover{
        color:#FFF;
    }
    .hero-title h1 {
            text-align: center;
            color: #254CAC;
            font-size: 2.4rem;
            padding: 2rem;
            font-family: inherit;
            font-weight: 700;
    }
    .hero-benar h2 {
        text-align: center;
        padding: 0rem 0;
        font-size: 3rem;
        font-family: system-ui;
        font-weight: bold;
        color: #C1D230;
        padding-bottom: 1rem;
    }
    .hero-benar p {
        padding: 2rem;
        font-size: 1.2rem;
        font-family: sans-serif;
        color: #5C79C1;

    }
    .join {
        height: 2.5rem;
        width: 6rem;
        margin: 2rem;
        background-color: tomato;
        text-align: center;
        border-radius: 2rem;
        padding: .4rem;
        transition: all 0.3s ease-in;
        
    }
    .join a {
        text-decoration: none;
        color: white;
        font-family: system-ui;
      
    }
    .join a:hover{
        color: white;
    }
    .join:hover{
        background-color: black;
        color: white;
    }
    .plant-info {
        display: flex;
        justify-content: center;
       
    }
    .plant-info img{
        height: 9rem;
    }
    .hero-image{
        padding-top: 3rem;
        height: 30rem;
    }  
    .hero-image {
        display: flex;
        justify-content: center;
    }
}

/* tablet version */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .background{
        display: flex;
        justify-content: center;    
        background-color: #ACDDF1;
        height:90rem;
        width: 100vw;
        position: relative;
        } 
    
        .page-part {
            position: absolute;
            height: 90%;
            width: 80vw;
            margin: 2.3rem;
            background-color: white;
            border-radius: 2rem;
            box-shadow: 0 0 10px;
        }
        .nav-Get{
            height: 4rem;
            width: 8rem;
            background-color: tomato;
            text-align: center;
            padding: 1rem;
            border-radius: 5rem;
            transition: all 0.3s ease-in;
          
        }
        .nav-Get:hover{
            background-color: black;
        }
        a.nav-get {
            text-decoration: none;
            color: white;
            font-family: sans-serif;
            font-weight: 600;
        }
        a.nav-get:hover{
            color:#FFF;
        }
        .hero-title h1 {
                text-align: center;
                color: #254CAC;
                font-size: 2.4rem;
                padding: 2rem;
                font-family: inherit;
                font-weight: 700;
        }
        .hero-benar h2 {
            text-align: center;
            padding: 0rem 0;
            font-size: 3rem;
            font-family: system-ui;
            font-weight: bold;
            color: #C1D230;
            padding-bottom: 1rem;
        }
        .hero-benar p {
            padding: 2rem;
            font-size: 1.2rem;
            font-family: sans-serif;
            color: #5C79C1;
    
        }
        .join {
            height: 2.5rem;
            width: 6rem;
            margin: 2rem;
            background-color: tomato;
            text-align: center;
            border-radius: 2rem;
            padding: .4rem;
            transition: all 0.3s ease-in;
            
        }
        .join a {
            text-decoration: none;
            color: white;
            font-family: system-ui;
          
        }
        .join a:hover{
            color: white;
        }
        .join:hover{
            background-color: black;
            color: white;
        }
        .plant-info {
            display: flex;
            justify-content: center;
           
        }
        .plant-info img{
            height: 9rem;
        }
        .hero-image{
            padding-top: 3rem;
            height: 30rem;
        }  
        .hero-image {
            display: flex;
            justify-content: center;
        }
 }
 @media (min-width: 992px) and (max-width: 1199.98px) { .background{
    display: flex;
    justify-content: center;    
    background-color: #ACDDF1;
    height:90rem;
    width: 100vw;
    position: relative;
    } 
    div#navbarSupportedContent {
        margin-left: 20rem;
    }

    .page-part {
        position: absolute;
        height: 70%;
        width: 80vw;
        margin: 2.3rem;
        background-color: white;
        border-radius: 2rem;
        box-shadow: 0 0 10px;
    }
    .nav-Get {
        border: 1px solid tomato;
        height: 3rem;
        width: 8rem;
        background-color: white;
        text-align: center;
        padding: .6rem;
        border-radius: 5rem;
        transition: all 0.3s ease-in;
    }
    .nav-Get:hover{
        background-color: black;
    }
    a.nav-get {
        text-decoration: none;
        color: tomato;
        font-family: sans-serif;
        font-weight: 600;
    }
    a.nav-get:hover{
        color:#FFF;
    }
    .hero-title h1 {
        color: #254CAC;
        font-size: 1.4rem;
        padding: 2rem;
        font-family: inherit;
        font-weight: 700;
    }
    .hero-benar h2 {
        padding-left: 1rem;
        font-size: 6rem;
        font-family: system-ui;
        font-weight: bold;
        color: #C1D230;
    }
    .hero-benar p {
        padding: 2rem;
        font-size: 1.2rem;
        font-family: sans-serif;
        color: #5C79C1;
        text-align: center;
    }
   
    .join {
        height: 2.5rem;
        width: 6rem;
        margin: 2rem;
        background-color: tomato;
        text-align: center;
        border-radius: 2rem;
        padding: .4rem;
        transition: all 0.3s ease-in;
        
    }
    .join a {
        text-decoration: none;
        color: white;
        font-family: system-ui;
      
    }
    .join a:hover{
        color: white;
    }
    .join:hover{
        background-color: black;
        color: white;
    }
    .plant-info {
        display: flex;
        justify-content: center;
       
    }
    .plant-info img{
        height: 9rem;
    }
    .hero-image{
        padding-top: 3rem;
        height: 30rem;
    }  
    .hero-image {
        display: flex;
        justify-content: center;
    } 
    .hero-part{
        display: flex;
    }
    .hero-part>*{
        flex: 1;
    }
   
}
 
/* extra large screen  */
@media (min-width: 1200px) { .background{
    display: flex;
    justify-content: center;    
    background-color: #ACDDF1;
    height:90rem;
    width: 100vw;
    position: relative;
    } 
    div#navbarSupportedContent {
        margin-left: 40rem;
    }

    .page-part {
        position: absolute;
        height: 70%;
        width: 80vw;
        margin: 2.3rem;
        background-color: white;
        border-radius: 2rem;
        box-shadow: 0 0 10px;
    }
    .nav-Get {
        border: 1px solid tomato;
        height: 3rem;
        width: 8rem;
        background-color: white;
        text-align: center;
        padding: .6rem;
        border-radius: 5rem;
        transition: all 0.3s ease-in;
    }
    .nav-Get:hover{
        background-color: black;
    }
    a.nav-get {
        text-decoration: none;
        color: tomato;
        font-family: sans-serif;
        font-weight: 600;
    }
    a.nav-get:hover{
        color:#FFF;
    }
    .hero-title h1 {
        color: #254CAC;
        font-size: 1.4rem;
        padding: 2rem;
        font-family: inherit;
        font-weight: 700;
    }
    .hero-benar h2 {
        padding-left: 1rem;
        font-size: 6rem;
        font-family: system-ui;
        font-weight: bold;
        color: #C1D230;
    }
    .hero-benar p {
        padding: 2rem;
        font-size: 1.2rem;
        font-family: sans-serif;
        color: #5C79C1;
        text-align: center;
    }
   
    .join {
        height: 2.5rem;
        width: 6rem;
        margin: 2rem;
        background-color: tomato;
        text-align: center;
        border-radius: 2rem;
        padding: .4rem;
        transition: all 0.3s ease-in;
        
    }
    .join a {
        text-decoration: none;
        color: white;
        font-family: system-ui;
      
    }
    .join a:hover{
        color: white;
    }
    .join:hover{
        background-color: black;
        color: white;
    }
    .plant-info {
        display: flex;
        justify-content: center;
       
    }
    .plant-info img{
        height: 9rem;
    }
    .hero-image{
        padding-top: 3rem;
        height: 30rem;
    }  
    .hero-image {
        display: flex;
        justify-content: center;
    } 
    .hero-part{
        display: flex;
    }
    .hero-part>*{
        flex: 1;
    }
    

}